# ----------------------- #
#      Main Configs       #
# ----------------------- #

url: https://blog.jez.io
title: Bits, Bytes, and Words
subtitle: Jake Zimmerman
author: Jake Zimmerman
simple_search: https://www.google.com/search
description: A tech blog by Jake Zimmerman. Updates occasionally with tips, tricks, hacks, and personal projects.
avatar: /images/avatar-jake.jpg
author_bio: "Studying computer science at Carnegie Mellon. Working at Dropbox. Previously at Bloomberg L.P."
about: https://jez.io
future: false
timezone: America/New_York

# Default date format is "ordinal" (resulting in "July 22nd 2007")
# You can customize the format as defined in
# http://www.ruby-doc.org/core-1.9.2/Time.html#method-i-strftime
# Additionally, %o will give you the ordinal representation of the day
date_format: "ordinal"

# RSS / Email (optional) subscription links (change if using something like Feedburner)
subscribe_rss: /atom.xml
subscribe_email: jake@zimmerman.io
# RSS feeds can list your email address if you like
email: jake@zimmerman.io

# ----------------------- #
#    Jekyll & Plugins     #
# ----------------------- #

# If publishing to a subdirectory as in http://site.com/project set 'root: /project'
root: /
permalink: /:year/:month/:day/:title/
source: source
destination: public
plugins: plugins
code_dir: downloads/code
category_dir: categories
markdown: rdiscount
rdiscount:
  extensions:
    - autolink
    - footnotes
    - smart
highlighter: pygments # default python pygments have been replaced by pygments.rb

paginate: 20          # Posts per page on the blog index
paginate_path: "posts/:num/"  # Directory base for pagination URLs eg. /posts/2/
recent_posts: 5       # Posts in the sidebar Recent Posts section
excerpt_link: 'Continue reading &nbsp; <i class="fa fa-angle-double-right"></i>'  # "Continue reading" link text at the bottom of excerpted articles

titlecase: true       # Converts page and post titles to titlecase

# list each of the sidebar modules you want to include, in the order you want them to appear.
# To add custom asides, create files in /source/_includes/custom/asides/ and add them to the list like 'custom/asides/custom_aside_name.html'
#default_asides: [asides/recent_posts.html, asides/github.html, asides/delicious.html, asides/pinboard.html, asides/googleplus.html]
#default_asides: [asides/recent_posts.html, asides/github.html, asides/delicious.html, asides/pinboard.html]

# Each layout uses the default asides, but they can have their own asides instead. Simply uncomment the lines below
# and add an array with the asides you want to use.
# blog_index_asides:
# post_asides:
# page_asides:

# ----------------------- #
#   3rd Party Settings    #
# ----------------------- #

# Github repositories
github_user: jez

# == unused ==
github_repo_count: 5
github_show_profile_link: true
github_skip_forks: true
# == unused ==

# Twitter
twitter_user: Z1MM32M4N
twitter_tweet_button: true

# Google +1
google_plus_one: true
google_plus_one_size: medium

# Google Plus Profile
# Hidden: No visible button, just add author information to search results
googleplus_user: +JacobZimmerman0
googleplus_hidden: false

# Pinboard
pinboard_user:
pinboard_count: 3

# Delicious
delicious_user:
delicious_count: 3

# Disqus Comments
disqus_short_name: jakez-blog
disqus_show_comment_count: false

# Google Analytics
google_analytics_tracking_id: UA-50690546-1

# Facebook Like
facebook_like: true

# Links to include in top navigation
# For external links add external: true
#links:
#  - title: Theme Setup
#    url: /theme-setup
#  - title: External Link
#    url: http://mademistakes.com
#    external: true
links:
  - title: Portfolio
    url: https://jez.io
    external: true
