{% include doctype.html %}
<head>
{% include head.html %}
</head>

<body id="post" class="{% if page.strong_keywords %}strong-keywords{% endif %}">

{% include navigation.html %}

{% assign header_title = page.title %}
{% assign header_subtitle = page.date | date: "%B %d, %Y" %}
{% include entryheader.html %}

<div id="main" role="main">
  <article class="Post-content">
    {{ content }}
    <footer class="entry-meta">
      <span class="entry-tags">
        <ul class="Tags">
          {% for tag in page.categories %}
            <li class="Tag">
              <a href="{{ root_url }}/categories/#{{ tag | cgi_encode }}" title="Pages tagged {{ tag }}">{{ tag }}</a>
            </li>
          {% endfor %}
        </ul>
      </span>
      <span class="entry-date date published updated"><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time></span>
      {% if page.modified %}<br>revised: <span class="entry-date date modified"><time datetime="{{ page.modified }}">{{ page.modified | date: "%B %d, %Y"  }}</time></span>{% endif %}
    </footer>
  </div>
  {% include readmore.html %}
</div>

<div class="footer-wrapper">
  {% include footer.html %}
</div>

</body>
</html>
