body {
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: $body-color;
}

// Main
// --------------------------------------------------
.entry,
.hentry {
	@include clearfix();
}
.entry-content {
	@include font-rem($p_fs);
  @include line-height($p_lh);
	// Dotted line underlines for links
	p > a:not(.image-link),
	li > a:not(.image-link) {
		border-bottom: 1px dotted lighten($link-color, 50%);
		&:hover {
			border-bottom-style: solid;
		}
	}
	.image-link img {
		cursor: zoom-in;
	}
}

// Single Post and Page
// --------------------------------------------------
.entry-title {
  margin-top: 0;
  margin-bottom: 3px;
}
.entry-wrapper {
  margin-bottom: 20px;
}
.entry-meta {
	@include font-rem($footer_fs);
	text-transform: uppercase;
	font-family: 'Concourse Caps';
	color: lighten($base-color,60%);
	a {
		color: lighten($base-color,60%);
	}
	.tag {
		display: inline-block;
		margin: 4px;
		padding: 2px 6px;
		background-color: lighten($base-color,60%);
		color: $white;
		@include border-radius(3px);
    &.hollow {
      background-color: white;
      font-size: 80%;
      color: lighten($base-color,60%);
      border: 2px solid lighten($base-color,60%);
      margin-right: 4px;
      &:hover {
        background-color: lighten($base-color,60%);
        color: $white;
      }
    }
		span {
			vertical-align: super;
			@include font-rem($super_fs);
		}
		&:hover {
			background-color: lighten($base-color,50%);
		}
		&:active {
			@include translate(0, 1px);
	        box-shadow: 0 0 1px rgba($base-color,0.20);
		}
	}
  .entry-date {
    padding: 4px 0;
  }
}
.fa.pinned {
  transform: rotate(30deg);
  font-size: 80%;
}
#post,
#page {
	.entry-content {
		margin: 40px 2px 20px 2px;
		padding: 10px 15px;
		background-color: $white;
		@media #{$medium} {
			margin-left: 10px;
			margin-right: 10px;
			padding: 20px 30px;
		}
		@media #{$large} {
			max-width: 675px;
			margin: 50px auto 30px auto;
			padding: 50px 80px;
			> p:first-child {
				@include font-rem($p1_fs);
				@include line-height($p1_lh);
				@include margin-after;
				code {
					font-size: 1.0rem;
				}
			}
		}
	}
	.entry-meta {
		margin: 50px 30px 30px;
		text-align: center;
	}
}
.entry-tags {
	display: block;
	margin-bottom: 6px;
}

// Post Index
// --------------------------------------------------
#post-index {
	#main {
		margin: 40px 2px 20px 2px;
		@media #{$medium} {
			margin-left: 20px;
			margin-right: 20px;
		}
		@media #{$large} {
			max-width: 675px;
			margin-top: 50px;
			margin-left: auto;
			margin-right: auto;
		}
	}
	article {
		background-color: $white;
		margin-bottom: 20px;
		padding: 25px 15px;
		@media #{$medium} {
			padding: 30px;
		}
		@media #{$large} {
			margin-bottom: 30px;
			padding: 40px 50px;
		}
	}
  .pinned-divider {
    border: 0.5px solid $border-color;
    margin: 30px 0;
    @media #{$medium} {
      margin: 30px -30px;
    }
  }
}

// Footer
// --------------------------------------------------
.footer-wrapper {
	@include clearfix();
	margin: 2em auto;
	text-align: center;
	color: lighten($text-color,20%);
	a {
		color: lighten($text-color,20%);
	}
}

// Category, Archives
// --------------------------------------------------
.category h2,
.archive-year h2 {
  text-align: right;
  font-family: 'Concourse Caps';
  font-weight: 600;
}


// Browser Upgrade
// --------------------------------------------------
.upgrade {
	padding: 10px;
	text-align: center;
}
