// Body
// --------------------------------------------------
body {
  font-family: $base-font;
  color: $text-color;
  font-weight: 300;
}

.entry-content {
  hyphens: auto;
}

// Headings
// --------------------------------------------------
h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
  font-weight: 400;
}
h1 {
  @include font-rem($h1_fs);
}

// Links
// --------------------------------------------------
a {
  text-decoration: none;
  color: $link-color;
  &:hover {
    color: darken($link-color, 20%);
  }
  &:focus {
    outline: thin dotted;
    color: darken($link-color, 20%);
  }
  &:hover,
  &:active {
    outline: 0;
  }
}

.link-arrow {
  text-decoration: underline;
  font-style: normal;
}

// Figures
// --------------------------------------------------
figcaption {
  padding-top: 10px;
  @include font-rem($figcaption_fs);
  line-height: 1.3;
  color: lighten($text-color, 10%);
}

// Note text
// --------------------------------------------------
.notice {
  margin-top: 1.5em;
  padding: .5em 1em;
  text-indent: 0;
  @include font-rem($notice_fs);
  background-color: $body-color;
  border: 1px solid darken($body-color,20%);
}

// Blockquotes
// --------------------------------------------------
// Style the blockquotes with a fancy quote character
blockquote {
  margin-left: 40px;
  font-style: italic;
}
blockquote > *:first-child {
  position: relative;
}
blockquote > *:first-child::before {
  content: "“";
  display: block;
  position: absolute;
  font-size: 5rem;
  top: -1.9rem;
  left: -3.2rem;
}

// Footnotes
// --------------------------------------------------
.entry-content .footnotes {
  ol, li, p, code {
    @include font-rem($footer_fs);
    @include margin-after;
  }
}

// Code
// --------------------------------------------------
tt, code, kbd, samp, pre {
  font-family: $code-font;
}
p,
li {
  code {
    @include font-rem(1);
    line-height: 1.5;
    white-space: nowrap;
    margin: 0 2px;
    padding: 1px 5px;
    background-color: lighten($black, 95%);
    @include border-radius(3px);
  }
}
pre {
  @include font-rem(0.9);
  line-height: 1.5;
  overflow-x: auto;
  &::-webkit-scrollbar {
    height: 12px;
    background-color: #34362e;
    @include border-bottom-radius(4px);
  }
  &::-webkit-scrollbar-thumb:horizontal {
    background-color: #6a6d5d;
    @include border-radius(4px);
  }
}

// Strong
// --------------------------------------------------
.strong-keywords strong {
  text-transform: lowercase;
  font-family: 'Concourse Caps';
  font-weight: 600;
}
