//
// Styles for Card component
//

.Card {
  margin-bottom: 20px;
  padding: 25px 15px;

  background-color: $white;

  @media #{$medium} {
    padding: 30px;
  }

  @media #{$large} {
    margin-bottom: 30px;
    padding: 40px 50px;
  }
}
