@charset "UTF-8";
/*!
// ===========================================================
// Originally by: Michael Rose
// Modified by: Jake Zimmerman
// ===========================================================
*/
/* All font sizes in rem's. Units are omitted to make calculating multipliers
 * and legacy px values easier. See base/_mixins.scss for more info on rem's. */
body {
  margin-top: 26px;
  font-size: 16px;
}

*, *:after, *:before {
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

a:hover,
a:active {
  outline: 0;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

blockquote {
  margin: 0;
}

img {
  /* Responsive images (ensure images don't scale beyond their parents) */
  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */
  width: auto\9;
  /* IE7-8 need help adjusting responsive images */
  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

#map_canvas img,
.google-maps img {
  max-width: none;
}

button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}

button,
input {
  *overflow: visible;
  line-height: normal;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}

input[type="search"] {
  box-sizing: content-box;
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

@media print {
  * {
    text-shadow: none !important;
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* Don't show links for images, or javascript/internal links */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
::-moz-selection {
  background-color: #c8c8c8;
  color: #222;
  text-shadow: none;
}

::selection {
  background-color: #c8c8c8;
  color: #222;
  text-shadow: none;
}

.wrap {
  margin: 0 auto;
}

.all-caps {
  text-transform: uppercase;
  font-family: "Concourse Caps", "Avenir", Helvetica, sans-serif;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.unstyled-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.unstyled-list li {
  list-style-type: none;
}

.inline-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.inline-list li {
  list-style-type: none;
  display: inline;
}

body {
  font-family: "Concourse", "Avenir", Helvetica, sans-serif;
  color: #222;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Concourse", "Avenir", Helvetica, sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 32px;
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: #448cca;
}
a:hover {
  color: #255883;
}
a:focus {
  outline: thin dotted;
  color: #255883;
}
a:hover, a:active {
  outline: 0;
}
a[href^="#fn:"] {
  font-weight: 600;
}
a[href$=".pdf"]::after {
  content: ' (PDF)';
}

.link-arrow {
  text-decoration: underline;
  font-style: normal;
}

figcaption {
  padding-top: 10px;
  font-size: 16.8px;
  font-size: 1.05rem;
  line-height: 1.3;
  color: #3c3c3c;
}

.notice {
  margin-top: 1.5em;
  padding: .5em 1em;
  text-indent: 0;
  font-size: 16.8px;
  font-size: 1.05rem;
  background-color: #e8e8e8;
  border: 1px solid #b5b5b5;
}

blockquote {
  margin-left: 40px;
  font-style: italic;
}
blockquote em {
  font-style: normal;
}

blockquote > *:first-child {
  position: relative;
}

blockquote > *:first-child::before {
  content: "“";
  display: block;
  position: absolute;
  font-size: 4rem;
  top: -1.7rem;
  left: -3.2rem;
}

.Post-content {
  font-size: 19.2px;
  font-size: 1.2rem;
  line-height: 1.3;
}

.Post-content .footnotes ol, .Post-content .footnotes li, .Post-content .footnotes p {
  font-size: 14.4px;
  font-size: 0.9rem;
  margin-bottom: 26px;
  margin-bottom: 1.625rem;
}
.Post-content .footnotes code {
  font-size: 11.2px;
  font-size: 0.7rem;
}

tt, code, kbd, samp, pre {
  font-family: Menlo, Monaco, Courier New, monospace;
}

p code,
li code {
  font-size: 14.4px;
  font-size: 0.9rem;
  line-height: 1.5;
  white-space: nowrap;
  margin: 0 -1px;
  padding: 3px 5px;
  background-color: #f2f2f2;
  border-radius: 3px;
}

h2 code {
  font-size: 22.4px;
  font-size: 1.4rem;
}

h3 code {
  font-size: 17.6px;
  font-size: 1.1rem;
}

pre {
  font-size: 14.4px;
  font-size: 0.9rem;
  line-height: 1.38;
  overflow-x: auto;
}
pre::-webkit-scrollbar {
  height: 12px;
  background-color: #34362e;
  border-bottom-radius: 4px;
}
pre::-webkit-scrollbar-thumb:horizontal {
  background-color: #6a6d5d;
  border-radius: 4px;
}

.strong-keywords strong {
  text-transform: lowercase;
  font-family: "Concourse Caps", "Avenir", Helvetica, sans-serif;
  font-weight: 600;
}

.highlight {
  background-color: #fdf6e3;
  color: #586e75;
}

.highlight .c {
  color: #93a1a1;
}

/* Comment */
.highlight .err {
  color: #586e75;
}

/* Error */
.highlight .g {
  color: #586e75;
}

/* Generic */
.highlight .k {
  color: #859900;
}

/* Keyword */
.highlight .l {
  color: #586e75;
}

/* Literal */
.highlight .n {
  color: #586e75;
}

/* Name */
.highlight .o {
  color: #859900;
}

/* Operator */
.highlight .x {
  color: #cb4b16;
}

/* Other */
.highlight .p {
  color: #586e75;
}

/* Punctuation */
.highlight .cm {
  color: #93a1a1;
}

/* Comment.Multiline */
.highlight .cp {
  color: #859900;
}

/* Comment.Preproc */
.highlight .c1 {
  color: #93a1a1;
}

/* Comment.Single */
.highlight .cs {
  color: #859900;
}

/* Comment.Special */
.highlight .gd {
  color: #2aa198;
}

/* Generic.Deleted */
.highlight .ge {
  color: #586e75;
  font-style: italic;
}

/* Generic.Emph */
.highlight .gr {
  color: #dc322f;
}

/* Generic.Error */
.highlight .gh {
  color: #cb4b16;
}

/* Generic.Heading */
.highlight .gi {
  color: #859900;
}

/* Generic.Inserted */
.highlight .go {
  color: #586e75;
}

/* Generic.Output */
.highlight .gp {
  color: #586e75;
}

/* Generic.Prompt */
.highlight .gs {
  color: #586e75;
  font-weight: 600;
}

/* Generic.Strong */
.highlight .gu {
  color: #cb4b16;
}

/* Generic.Subheading */
.highlight .gt {
  color: #586e75;
}

/* Generic.Traceback */
.highlight .kc {
  color: #cb4b16;
}

/* Keyword.Constant */
.highlight .kd {
  color: #268bd2;
}

/* Keyword.Declaration */
.highlight .kn {
  color: #859900;
}

/* Keyword.Namespace */
.highlight .kp {
  color: #859900;
}

/* Keyword.Pseudo */
.highlight .kr {
  color: #268bd2;
}

/* Keyword.Reserved */
.highlight .kt {
  color: #dc322f;
}

/* Keyword.Type */
.highlight .ld {
  color: #586e75;
}

/* Literal.Date */
.highlight .m {
  color: #2aa198;
}

/* Literal.Number */
.highlight .s {
  color: #2aa198;
}

/* Literal.String */
.highlight .na {
  color: #586e75;
}

/* Name.Attribute */
.highlight .nb {
  color: #B58900;
}

/* Name.Builtin */
.highlight .nc {
  color: #268bd2;
}

/* Name.Class */
.highlight .no {
  color: #cb4b16;
}

/* Name.Constant */
.highlight .nd {
  color: #268bd2;
}

/* Name.Decorator */
.highlight .ni {
  color: #cb4b16;
}

/* Name.Entity */
.highlight .ne {
  color: #cb4b16;
}

/* Name.Exception */
.highlight .nf {
  color: #268bd2;
}

/* Name.Function */
.highlight .nl {
  color: #586e75;
}

/* Name.Label */
.highlight .nn {
  color: #586e75;
}

/* Name.Namespace */
.highlight .nx {
  color: #586e75;
}

/* Name.Other */
.highlight .py {
  color: #586e75;
}

/* Name.Property */
.highlight .nt {
  color: #268bd2;
}

/* Name.Tag */
.highlight .nv {
  color: #268bd2;
}

/* Name.Variable */
.highlight .ow {
  color: #859900;
}

/* Operator.Word */
.highlight .w {
  color: #586e75;
}

/* Text.Whitespace */
.highlight .mf {
  color: #2aa198;
}

/* Literal.Number.Float */
.highlight .mh {
  color: #2aa198;
}

/* Literal.Number.Hex */
.highlight .mi {
  color: #2aa198;
}

/* Literal.Number.Integer */
.highlight .mo {
  color: #2aa198;
}

/* Literal.Number.Oct */
.highlight .sb {
  color: #93a1a1;
}

/* Literal.String.Backtick */
.highlight .sc {
  color: #2aa198;
}

/* Literal.String.Char */
.highlight .sd {
  color: #586e75;
}

/* Literal.String.Doc */
.highlight .s2 {
  color: #2aa198;
}

/* Literal.String.Double */
.highlight .se {
  color: #cb4b16;
}

/* Literal.String.Escape */
.highlight .sh {
  color: #586e75;
}

/* Literal.String.Heredoc */
.highlight .si {
  color: #2aa198;
}

/* Literal.String.Interpol */
.highlight .sx {
  color: #2aa198;
}

/* Literal.String.Other */
.highlight .sr {
  color: #dc322f;
}

/* Literal.String.Regex */
.highlight .s1 {
  color: #2aa198;
}

/* Literal.String.Single */
.highlight .ss {
  color: #2aa198;
}

/* Literal.String.Symbol */
.highlight .bp {
  color: #268bd2;
}

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #268bd2;
}

/* Name.Variable.Class */
.highlight .vg {
  color: #268bd2;
}

/* Name.Variable.Global */
.highlight .vi {
  color: #268bd2;
}

/* Name.Variable.Instance */
.highlight .il {
  color: #2aa198;
}

/* Literal.Number.Integer.Long */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #e8e8e8;
}

#post article {
  background-color: #fff;
  margin: 40px 2px 20px 2px;
  padding: 10px 15px;
}
#post article img.fullwidth {
  margin-left: -15px;
  margin-right: -15px;
  max-width: calc(100% + 30px);
}
@media only screen and (min-width: 40em) {
  #post article {
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px 30px;
  }
  #post article img.fullwidth {
    margin-left: -30px;
    margin-right: -30px;
    max-width: calc(100% + 60px);
  }
}
@media only screen and (min-width: 40em) {
  #post article {
    max-width: 675px;
    margin: 50px auto 30px auto;
    padding: 50px 80px;
  }
  #post article img.fullwidth {
    margin-left: -80px;
    margin-right: -80px;
    max-width: calc(100% + 160px);
  }
  #post article > p:first-child {
    font-size: 22.08px;
    font-size: 1.38rem;
    line-height: 1.3;
    margin-bottom: 26px;
    margin-bottom: 1.625rem;
  }
  #post article > p:first-child code {
    font-size: 1.0rem;
  }
}

.entry-meta {
  margin: 50px 30px 30px;
  color: #bbbbbb;
  font-size: 14.4px;
  font-size: 0.9rem;
  text-transform: uppercase;
  text-align: center;
  font-family: "Concourse Caps", "Avenir", Helvetica, sans-serif;
}
.entry-meta a {
  color: #bbbbbb;
}
.entry-meta .entry-date {
  padding: 4px 0;
}

.entry-tags {
  display: block;
  margin-bottom: 6px;
}

#post-index #main {
  margin: 40px 2px 20px 2px;
}
@media only screen and (min-width: 40em) {
  #post-index #main {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media only screen and (min-width: 40em) {
  #post-index #main {
    max-width: 675px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }
}
#post-index article {
  background-color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 25px 15px;
}
@media only screen and (min-width: 40em) {
  #post-index article {
    padding: 30px;
  }
}
@media only screen and (min-width: 40em) {
  #post-index article {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 40px 50px;
  }
}

.pinned-divider {
  border: 0.5px solid #bbbbbb;
  margin: 30px 0;
}
@media only screen and (min-width: 40em) {
  .pinned-divider {
    margin: 30px -30px;
  }
}

.footer-wrapper {
  margin-bottom: 40px;
  text-align: center;
}

.image-link img,
a img {
  cursor: zoom-in;
}

hr {
  display: block;
  margin: 1em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #fff;
}

.category h2,
.archive-year h2 {
  text-align: right;
  font-family: "Concourse Caps", "Avenir", Helvetica, sans-serif;
  font-weight: 600;
}

.read-more {
  position: relative;
  margin: 40px 2px 20px 2px;
  padding: 40px 15px 25px;
  background-color: #fff;
  text-align: center;
  *zoom: 1;
}
@media only screen and (min-width: 40em) {
  .read-more {
    margin: 50px 10px 20px 10px;
    padding: 50px 40px 25px;
  }
}
@media only screen and (min-width: 40em) {
  .read-more {
    max-width: 675px;
    padding: 30px 50px;
    margin: 60px auto;
  }
}
.read-more:before, .read-more:after {
  display: table;
  content: "";
  line-height: 0;
}
.read-more:after {
  clear: both;
}

.read-more-header {
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
  height: 35px;
}

.read-more-content {
  font-size: 19.2px;
  font-size: 1.2rem;
  line-height: 1.3;
}
.read-more-content p > a,
.read-more-content li > a {
  border-bottom: 1px dotted white;
}
.read-more-content p > a:hover,
.read-more-content li > a:hover {
  border-bottom-style: solid;
}
.read-more-content h3 {
  margin: 0;
  font-size: 28px;
  font-size: 1.75rem;
}
.read-more-content h3 a {
  color: #222;
}
@media only screen and (min-width: 40em) {
  .read-more-content h3 {
    font-size: 36px;
    font-size: 2.25rem;
  }
}

.read-more-list {
  border-top: solid 1px #bbbbbb;
}

.list-item {
  width: 100%;
  text-align: left;
}
.list-item h4 {
  font-size: 18px;
  font-size: 1.125rem;
  margin-bottom: 0;
}
.list-item span {
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  color: #a2a2a2;
}
@media only screen and (min-width: 40em) {
  .list-item {
    width: 49%;
    float: left;
  }
  .list-item:nth-child(2) {
    text-align: right;
  }
}

figure {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  *zoom: 1;
}
figure:before, figure:after {
  display: table;
  content: "";
  line-height: 0;
}
figure:after {
  clear: both;
}

svg:not(:root) {
  overflow: hidden;
}

figure.code {
  margin-left: -15px;
  margin-right: -15px;
}
@media only screen and (min-width: 40em) {
  figure.code {
    margin-left: -30px;
    margin-right: -30px;
  }
}
@media only screen and (min-width: 40em) {
  figure.code {
    margin-left: -80px;
    margin-right: -80px;
  }
}

figure.code figcaption {
  color: #586e75;
  background: #eee8d5;
  font-size: 17.6px;
  font-size: 1.1rem;
  padding: 8px 15px;
}
@media only screen and (min-width: 40em) {
  figure.code figcaption {
    padding: 8px 30px;
  }
}
@media only screen and (min-width: 40em) {
  figure.code figcaption {
    padding: 8px 80px;
  }
}

figure.code .highlight {
  overflow: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media only screen and (min-width: 40em) {
  figure.code .highlight {
    padding-left: 30px;
    padding-right: 30px;
  }
  figure.code .highlight > table {
    padding-right: 30px;
  }
}
@media only screen and (min-width: 40em) {
  figure.code .highlight {
    padding-left: 80px;
    padding-right: 80px;
  }
  figure.code .highlight > table {
    padding-right: 80px;
  }
}

.Button {
  display: inline-block;
  padding: 8px 20px;
  border-radius: 3px;
  border-width: 2px !important;
  border-style: solid !important;
  border-color: #222;
  background-color: #222;
  color: #fff;
  font-size: 16.8px;
  font-size: 1.05rem;
}
.Button:visited {
  color: #fff;
}
.Button:hover {
  background-color: #fff;
  color: #222;
}

.Tags {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.Tag {
  display: inline-block;
}

.Tag a {
  display: inline-block;
  margin: 4px;
  padding: 2px 6px;
  border-radius: 3px;
  background-color: #bbbbbb;
  color: #fff;
  font-size: 14.4px;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-family: "Concourse Caps", "Avenir", Helvetica, sans-serif;
  line-height: normal;
}
.Tag a:hover {
  background-color: #a2a2a2;
}
.Tag a:active {
  transform: translate(0, 1px);
  box-shadow: 0 0 1px rgba(34, 34, 34, 0.2);
}

.Tag--hollow a {
  margin-right: 4px;
  border: 2px solid #bbbbbb;
  background-color: #fff;
  color: #bbbbbb;
  font-size: 80%;
}
.Tag--hollow a:hover {
  background-color: #bbbbbb;
  color: #fff;
}

.Tag-size {
  vertical-align: super;
  font-size: 10px;
  font-size: 0.625rem;
}

.Card {
  margin-bottom: 20px;
  padding: 25px 15px;
  background-color: #fff;
}
@media only screen and (min-width: 40em) {
  .Card {
    padding: 30px;
  }
}
@media only screen and (min-width: 40em) {
  .Card {
    margin-bottom: 30px;
    padding: 40px 50px;
  }
}

.Navigation {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.EntryHeader {
  text-align: center;
  margin: 30px 0 0;
}
@media only screen and (min-width: 40em) {
  .EntryHeader {
    margin: 50px 0 0;
  }
}
@media only screen and (min-width: 40em) {
  .EntryHeader {
    margin: 80px 0 0;
  }
}

.EntryHeader-title {
  margin: 10px 20px;
  color: #555555;
  font-weight: 400;
  font-size: 36px;
  font-size: 2.25rem;
}
@media only screen and (min-width: 40em) {
  .EntryHeader-title {
    font-size: 48px;
    font-size: 3rem;
  }
}
@media only screen and (min-width: 40em) {
  .EntryHeader-title {
    font-size: 60px;
    font-size: 3.75rem;
  }
}

.EntryHeader-subtitle {
  margin: 0;
  color: #888888;
  text-transform: uppercase;
  font-family: "Concourse Caps", "Avenir", Helvetica, sans-serif;
  font-size: 18px;
  font-size: 1.125rem;
}
@media only screen and (min-width: 40em) {
  .EntryHeader-subtitle {
    font-size: 30px;
    font-size: 1.875rem;
  }
}

.Entry {
  margin-bottom: 20px;
}

.Entry.Entry--pinned {
  margin-bottom: 0;
}

.Entry-title {
  margin-top: 0;
  margin-bottom: 3px;
  font-size: 18.72px;
  font-size: 1.17rem;
  font-family: "Concourse", "Avenir", Helvetica, sans-serif;
  font-weight: 400;
}

.Entry--pinned .Entry-title {
  font-size: 32px;
  font-size: 2rem;
}

.Entry-date {
  color: #bbbbbb;
  font-size: 14.4px;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-family: "Concourse Caps", "Avenir", Helvetica, sans-serif;
}
.Entry-date a {
  color: #bbbbbb;
}
