{% comment %}
  Uses the following pieces of information:

  site.logo: Absolute URL of a site-wide thumbnail image

  page.title / site.title
  page.description / site.description

  site.twitter_user

  page.keywords
  site.keywords
{% endcomment %}

<meta charset="utf-8">
<meta http-equiv="cleartype" content="on">

<title>{% if page.title %}{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %} - {% endif %}{{ site.title }}</title>
<meta name="author" content="{{ site.author }}">

{% capture description %}{% if page.description %}{{ page.description }}{% elsif site.description %}{{ site.description }}{% else %}{{ content | raw_content }}{% endif %}{% endcapture %}
{% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' | strip_slash }}{% endif %}{% endcapture %}

<meta name="description" content="{{ description | strip_html | condense_spaces | truncate:150 }}">
{% capture site_keywords %}{{ site.keywords | join: ' '  }}{% endcapture %}
<meta name="keywords" content="{{ page.categories | join: ' ' | append: ' ' | append: site_keywords }}">


<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Twitter Cards -->
{% if site.twitter_user %}
  <meta name="twitter:card" content="summary">
  <meta name="twitter:image" content="{{ site.url }}{{ root_url }}/touch-icon.png">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title  }}{% endif %}">
  <meta name="twitter:description" content="{{ description | strip_html | condense_spaces | truncate:150 }}">
  <meta name="twitter:creator" content="@{{ site.twitter_user }}">
{% endif %}

<!-- Open Graph -->
<meta property="og:local" content="en_US">
<meta property="og:type" content="article">
<meta property="og:url" content="{{ canonical }}">
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta property="og:description" content="{{ description | strip_html | condense_spaces | truncate:150 }}">
<meta property="og:image" content="{{ site.url }}{{ root_url }}/touch-icon.png">
<meta property="og:site_name" content="{{ site.title }}">

<link rel="canonical" href="{{ canonical }}">
<link href="{{ root_url }}/touch-icon.png" rel="apple-touch-icon-precomposed">
<link href="{{ root_url }}/favicon@2x.png" rel="icon" sizes="32x32">
<link href="{{ root_url }}/favicon.png" rel="icon" sizes="16x16">
<link href="{{ root_url }}/fonts/concourse.css" rel="stylesheet">
<link href="{{ root_url }}/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
<link href="{{ site.subscribe_rss }}" rel="alternate" title="{{ site.title }}" type="application/atom+xml">


{% if page.mathjax %}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-AMS_CHTML"></script>
{% endif %}
