// Article
body > div#main {
  @include single-box-shadow(#000, 1px, 3px, 5px);
}

article {
  line-height: 1.618em;
  overflow: hidden;
  div.entry-content {
    @include word-break(break-all);
    text-rendering: optimizeLegibility;
  }
  h2, h3, h4, h5, h6 {
    font-family: $serif;
    line-height: 1em;
  }
  h2 {
    margin-bottom: .8em;
  }
  i {
    &.icon-twitter {
      color: hsl(209.01, 86.94%, 48.04%);
    }

    &.icon-facebook {
      color: hsl(220.88, 36.84%, 48.43%);
    }

    &.icon-google-plus {
      color: hsl(12.99, 66.24%, 46.47%);
    }

    &.icon-github {
      color: hsl(0.00, 0.00%, 25.00%);
    }
  }

  section#details { // insert `<section id="details"></section>` into HTML or Markdown file.
    height: 54px;
    width: 1000px;
    background: url('../images/construction.png') repeat-x 50% 0;
    background-size: 116px 54px;
    margin-left: -100px;
    margin-bottom: .5em;
  }

  blockquote {
    font-style: normal;
    font-size: 1em;
    line-height: 1.618em;
    color: hsl(0, 0%, 40%);
    padding: 15px;
    border-left: 0px;
    background-color: hsl(0, 0, 95%);
    @include box-shadow(hsl(0, 0%, 76%) 0 1px 5px inset);
    @include border-radius(3px);
    p:last-child {
      margin: 0;
    }
    footer > strong {
      font-style: italic;
    }
  }
  div.footnotes {
    color: hsl(0, 0%, 53%);
    padding-top: 1.5em;
    background: url('../images/divider.png') top center no-repeat;
  }
  kbd {
    padding: 0.1em 0.6em;
    border: 1px solid hsl(0, 0%, 80%);
    font-size: 11px;
    font-family: Arial,Helvetica,sans-serif;
    background-color: hsl(0, 0%, 97%);
    color: hsl(0, 0%, 20%);
    -moz-box-shadow: 0 1px 0px rgba(0,0,0,0.2),0 0 0 2px #fff inset;
    -webkit-box-shadow: 0 1px 0px hsla(0, 0%, 0%, 0.2),0 0 0 2px white inset;
    box-shadow: 0 1px 0px hsla(0, 0%, 0%, 0.2),0 0 0 2px white inset;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    margin: 0 0.1em;
    text-shadow: 0 1px 0 white;
    line-height: 1.4;
  }
}
