@font-face {
  font-family: 'icomoon';
  src: url('../fonts/IcoMoon.eot');
  src: url('../fonts/IcoMoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/IcoMoon.svg#icomoon') format('svg'),
    url('../fonts/IcoMoon.woff') format('woff'),
    url('../fonts/IcoMoon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: 'icomoon';
  font-style: normal;
  speak: none;
}
.icon-facebook:before {
  content: "\23";
}
.icon-github:before {
  content: "\24";
}
.icon-google-plus:before {
  content: "\25";
}
.icon-rss:before {
  content: "\26";
}
.icon-home:before {
  content: "\27";
}
.icon-user:before {
  content: "\28";
}
.icon-book-alt:before {
  content: "\2a";
}
.icon-twitter:before {
  content: "\22";
}
.icon-link:before {
  content: "\21";
}
