// Navigation
body > nav {
  @include single-box-shadow(#000, 0px, 2px, 5px);
  li + li {
    border-left: none;
    a {
      border-left: none;
    }
  }
  ul.main-navigation {
    padding-left: 3px;
  }
  // ul.subscription {
  //   display: none;
  // }
  a {
    &:hover {
      color: hsl(209.01, 86.94%, 50.04%);
      text-shadow:
        hsl(209.01, 86.94%, 42.04%) 0px 0px 5px,
        hsl(209.01, 86.94%, 42.04%) 0px 0px 7px,
        hsl(209.01, 86.94%, 52.04%) 0px 0px 9px,
        hsl(209.01, 86.94%, 52.04%) 0px 0px 11px,
        hsl(0, 0%, 0%) 0 0 2px;

    }
    i {
      color: hsl(209.01, 86.94%, 50.04%);
      text-shadow:
        hsl(209.01, 86.94%, 42.04%) 0px 0px 5px,
        hsl(209.01, 86.94%, 42.04%) 0px 0px 7px,
        hsl(209.01, 86.94%, 52.04%) 0px 0px 9px,
        hsl(209.01, 86.94%, 52.04%) 0px 0px 11px,
        hsl(0, 0%, 0%) 0 0 2px;
        width: 20px;
        display: inline-block;
      &.icon-home, &.icon-book-alt, &.icon-user {
        padding-right: 5px;
      }
    }
  }
}

.divider {
  position: absolute;
  display: block;
  height: 42px; /* this */
  width: 1px; /* where the magic happens */
  @include background-image(linear-gradient(top, rgb(40, 54, 62) 50%, rgb(30, 40, 47) 100%));
  margin: -.57em 0em 0em 0em;  /* pulls the border to the top of the header */
  box-shadow: 1px 0 0 0 rgba(255,255,255,.1);  /* white highlight on the inside of the border, ff now accepts this w/o a prefix */
}
